@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  height: 83vh;
}

/* Imagem de fundo */
.App {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/* Mobile */
@media screen and (max-width: 768px) {
  .bg-image-home {
    background-image: url('../public/images/bg-img-home-mobile.jpg');
  }
  .bg-image-destino {
    background-image: url('../public/images/bg-img-destino-mobile.jpg');
  }
  .bg-image-tripulacao {
    background-image: url('../public/images/bg-img-tripulacao.jpg');
  }
  .bg-image-tecnologia {
    background-image: url('../public/images/bg-img-tecnologia.jpg');
  }
}
/* Desktop */
@media screen and (min-width: 768px){
  .bg-image-home {
    background-image: url('../public/images/bg-img-home.jpg');
  }
  .bg-image-destino {
    background-image: url('../public/images/bg-img-destino.jpg');
  }
  .bg-image-tripulacao {
    background-image: url('../public/images/bg-img-tripulacao.jpg');
  }
  .bg-image-tecnologia {
    background-image: url('../public/images/bg-img-tecnologia.jpg');
  }
}