@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img {
  max-width: 110%;
}

.home {
  height: 83vh;
  position: relative;
  z-index: 1;
}

.botao_hover {
  z-index: -1;
  top: -40px;
  left: -40px;
}

.img_ajust {
  max-height: 70vh;
}

.screen_size {
  min-height: 60vh;
}

/* Imagem de fundo */
.App {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.preload-images {
  position: absolute;
  top: -9999px;
  left: -9999px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


/* Mobile */
@media screen and (max-width: 768px) {
  .bg-image-home {
    background-image: url('../public/images/bg-img-home-mobile.jpg');
  }
  .bg-image-destino {
    background-image: url('../public/images/bg-img-destino-mobile.jpg');
  }
  .bg-image-tripulacao {
    background-image: url('../public/images/bg-img-tripulacao.jpg');
  }
  .bg-image-tecnologia {
    background-image: url('../public/images/bg-img-tecnologia.jpg');
  }
}
/* Desktop */
@media screen and (min-width: 768px){
  .bg-image-home {
    background-image: url('../public/images/bg-img-home.jpg');
  }
  .bg-image-destino {
    background-image: url('../public/images/bg-img-destino.jpg');
  }
  .bg-image-tripulacao {
    background-image: url('../public/images/bg-img-tripulacao.jpg');
  }
  .bg-image-tecnologia {
    background-image: url('../public/images/bg-img-tecnologia.jpg');
  }
}